{% extends "base.html" %}
{% load static %}
{% block content %}
    <form class="add-photo-form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label_tag}}</p>
            <p>{{ field }}</p>
            {% if form.errors %}
                {% for error in form.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
                {% endif %}
        {% endfor %}
        <input class="register-button" type="submit" value="Post It!">
    </form>
 
{% endblock %}