<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/aef6646358.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <link rel="stylesheet" href="{% static 'css/wer.css' %}">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logo_gory.png' %}" alt="Logo gory">
            </a>
        </div>
        <div class="main-nav_info">
            <h3>Prognoza pogody w Tatrach na najblizsze dni</h3>
        </div>
        <div class="main-nav_user">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a id="register" href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>  
            {% endif %}
        </div>
        
    </nav> 
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <h4>Wszelkie prawa zastrzezone</h4>
    </footer>
    
</body>
</html>