<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/aef6646358.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="upper-section">
            <div class="zakopane-forecast">
                <div class="zakopane-forecast__today">
                
                    <div class="zakopane-forecast__today_city"><h6>Zakopane <br>{{FirstDay.date}}</h6></div>
                    <div class="zakopane-forecast__today_temp">
                        <div class="zakopane-forecast__today_temp_min"><i class="fas fa-temperature-high"></i> {{FirstDay.max_temp}}&#8451;</div>
                        <div class="zakopane-forecast__today_temp_max"><i class="fas fa-temperature-low"></i> {{FirstDay.min_temp}}&#8451;</div>
                       
                    </div>
                    <div class="zakopane-forecast__today_icon"><i class="fas fa-sun"></i></div>
                    <div class="zakopane-forecast__today_other">
                        <div class="zakopane-forecast__today_other_rain"><i class="fas fa-umbrella"></i> {{FirstDay.probability}} %</div>
                        <div class="zakopane-forecast__today_other_wind"><i class="fas fa-wind"></i>{{FirstDay.wind_speed}} km/h</div>
                    </div>
                 
                </div>
                <div class="zakopane-forecast__table">
                    <table>
                        <thead>
                            <th>date</th>
                            <th>min temp</th>
                            <th>max temp</th>
                            <th>windspeed</th>
                            <th>rain probability</th>
                        </thead>
                        <tbody>
                            {% for data in DailyForecast %}
                            <tr>
                                <td>{{data.date}}</td>
                                <td>{{data.min_temp}}&#8451;</td>
                                <td>{{data.max_temp}}&#8451;</td>
                                <td>{{data.wind_speed}} km/h</td>
                                <td>{{data.probability}} %</td>
                            </tr>
                            <tr>
                                <td colspan="5">{{data.phrase}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="avalanche-information"></div>
        </div>
        <div class="lower-section">
            <div class="mountain-forecast">
                <select name="mountain-forecast" id="select-mountain">
                    {% for peak in Mountain %}   
                    <option value="{{peak.name_of_peak}}">{{peak.name_of_peak}}</option>
                    {% endfor %} 
                </select>
                {% for data in OctaveOfDay%}
                <div class="peak-forecast">
                    <table>
                        <thead>
                            <th>date</th>
                            <th>time</th>
                            <th>temp</th>
                            <th>chill temp</th>
                            <th>rain</th>
                            <th>snow</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{data.date}}</td>
                                <td>{{data.octave_of_a_day}}</td>
                                <td>{{data.temperature}}</td>
                                <td>{{data.chill_temperature}}</td>
                                <td>{{data.rain}}</td>
                                <td>{{data.snow}}</td>
                            </tr>
                            <tr>
                                <td colspan="6">{{data.summary}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>

            <div class="tpn-forecast"></div>
        </div>
    </main>
</body>
</html>