{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="content-wrapper">
            <div class="place-weatherforecast-wrapper">
                <div class="place-weatherforecast">
                    <div class="place-weatherforecast-today">
                        <div class="place-weatherforecast-today-up">
                            <div class="place-weatherforecast-today-up__name">
                                <h3>Zakopane</h3>
                            </div>
                            <div class="place-weatherforecast-today-up__icon"><i class="fas fa-sun"></i></div>
                            <div class="place-weatherforecast-today-up__date">
                                <h3>{{ FirstDay.date|date:"d F" }}</h3>
                            </div>
                        </div>
                        <div class="place-weatherforecast-today-bottom">
                            <div class="place-weatherforecast-today-bottom__temp_min"><i class="fas fa-temperature-low"></i>{{ FirstDay.min_temp }}&#8451;</div>
                            <div class="place-weatherforecast-today-bottom__temp_max"><i class="fas fa-temperature-high"></i>{{ FirstDay.max_temp }}&#8451;</div>
                            <div class="place-weatherforecast-today-bottom__rain"><i class="fas fa-umbrella"></i> {{FirstDay.probability}} %</div>
                            <div class="place-weatherforecast-today-bottom__wind"><i class="fas fa-wind"></i>{{FirstDay.wind_speed}} km/h</div>
                        </div>
                    </div>
                    <div class="place-weatherforecast-today-button">
                        <a href="{% url 'detail-day' %}">
                            <button>szczegóły</button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="glider-contain multiple">
                <h3>Zdjęcia aktualnych warunków w górach</h3>
                <button class="glider-prev">
                    <i class="fa fa-chevron-left"></i>
                </button>
                    <div class="glider">
                        {% for post in Post%}
                        <figure>
                            <img src="{{post.image.url}}" alt="">
                        </figure>
                        {% endfor %}
                    </div>
                <button class="glider-next">
                    <i class="fa fa-chevron-right"></i>
                </button>
           <div class="avalanche-wrapper">
                <div class="avalanche-title">
                    <h3>avalanche status</h3>
                </div>
                <div class="avalanche-status">
                    {% for data in Avalanche %}
                    <div class="avalanche-info_left">
                        <div class="avalanche-info__level">
                            <h4>Avalanche Warning Level: </h4>
                            {% if data.avalanche_level == 1 %}
                                <img src="{% static 'images/1_level.png' %}" alt="Avalanche-level 1">
                            {% elif data.avalanche_level == 2 %}
                                <img src="{% static 'images/2_level.png' %}" alt="Avalanche-level 2">
                            {% elif data.avalanche_level == 3 %}
                                <img src="{% static 'images/law03.jpg' %}" alt="Avalanche-level 3">
                            {% elif data.avalanache_level == 4 %}
                                <img src="{% static 'images/law04.jpg' %}" alt="Avalanche-level 4">
                            {% elif data.avalanache_level == 5 %}
                                <img src="{% static 'images/law05.jpg' %}" alt="Avalanche-level 1">
                            {% else %}
                                <h4>No information about avalanche level</h4>
                            {% endif %}
                        </div>
                    </div>
                    <div class="avalanche-info_center">
                        <div class="avalanche-info__description">
                            <h4>{{ data.avalanche_description|truncatewords:25 }}</h4>
                        </div>
                        <div class="warnings-time">
                            <div class="warnings-time__published">
                                <h4>Warning published</h4> 
                                <h4>{{ data.avalanche_warning_published }}</h4>
                            </div>
                            <div class="warnings-time__until">
                                <h4>Warning valid until</h4> 
                                <h4>{{ data.avalanche_warning_valid_until }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="avalanche-info_right">
                        <h4>To dane poglądowe.<br>Aktualne warunki zweryfikuj na stronie topr</h4>
                        <a href="http://lawiny.topr.pl/">
                            <button>szczegóły</button>
                        </a>
                    </div>
                    {% endfor %}
                </div>  
            </div>
            <div class="content-bottom-tables">
                <div class="content-bottom-tables_info">
                    <h3>warunki atmosferyczne dla poszczególnych lokalizacji</h3>
                </div>
                <div class="content-bottom-tables_tables">
                    
                    <div class="tpn-weatherforecast"> 
                        <table>
                            <thead>
                                <th class="tpn-td">Miejsce</th>
                                <th class="tpn-td">temp min</th>
                                <th class="tpn-td">temp max</th>
                                <th class="tpn-td">ciśnienie</th>
                                <th>opady</th>
                                <th> </th>
                            </thead>
                            <tbody>
                                {% for area in Areas %}
                                <tr>
                                    <td class="tpn-td">{{ area.name }}</td>
                                    <td class="tpn-td">{{ area.temp_min }}&#8451;</td>
                                    <td class="tpn-td">{{ area.temp_max }}&#8451;</td>
                                    <td class="tpn-td">{{ area.pressure }} hPa</td>
                                    <td class="tpn-td">{{ area.rain }} mm</td>
                                    <td>
                                        <a href="{% url area.name %}">
                                            <button class="table-button">szczegóły</button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="peaks-weatherforecast">
                        <div class="peaks-weatherforecast-info">
                            <h3>Progonoza pogody dla poszczególnych szczytów</h3>
                        </div>
                        <div class="peak-weatherforecast">
                            <table>
                                <thead>
                                    <th>Szczyt</th>
                                    <th>temperatura odczuwalna</th>
                                    <th>prędkość wiatru</th>
                                    <th>opady deszczu</th>
                                    <th>opady śniegu</th>
                                    <th>opis</th>
                                    <th> </th>
                                </thead>
                                <tbody>
                                    {% for peak in Peaks %}
                                    <tr>
                                        <td>{{ peak.name_of_peak }}</td>
                                        <td>{{ peak.chill_temperature }}&#8451;</td>
                                        <td>{{ peak.windspeed }} km/h</td>
                                        <td>{{ peak.rain }}</td>
                                        <td>{{ peak.snow }}</td>
                                        <td>{{ peak.summary }}</td>
                                        <td>
                                            <a href="{% url peak.name_of_peak %}">
                                                <button class="table-button">szczegóły</button>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>         
                </div>
                </div>
            </div>    
        </div>
        <script>
            new Glider(document.querySelector('.glider'),{
                slidesToShow: 3,
                slidesToScroll: 2,
                draggable: true,
                dots: '.dots',
                // By Not having the next three lines, means the JS isn't attaching to the elements
                arrows: {   
                    prev: '.glider-prev',  
                    next: '.glider-next'
                }
            }
            )
        </script>
    {% endblock %}