<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <section class="daily_forecast">
       {% for data in DailyForecast %}
        <div class="day">
            <div class="location">
                <h3>Zakopane, Polska</h3>
                <h5>prognoza pogody na dzien: {{data.date}}</h5>
            </div>
            <div class="weather-info">
                <div class="temp">
                    <div class="temp-min">
                        <h3>Min. temp.</h3>
                        <h5>{{ data.min_temp }}&#8451;</h5>
                    </div>
                    <div class="temp-max">
                        <h3>Max. temp.</h3>
                        <h5>{{ data.max_temp }}&#8451;</h5>
                    </div>
                </div>
                <div class="other">
                    <div class="probability">
                        <h3>Rain prob.</h3>
                        <h5>{{ data.probability }}%</h5>
                    </div>
                    <div class="wind-speed">
                        <h3>Wind speed</h3>
                        <h5>{{ data.wind_speed }}km/h</h5>
                    </div>
                </div>
            </div>
            <div class="phrase">
                <h3>Text weathercast</h3>
                <h5>{{ data.phrase }}</h5>
            </div>
        </div>
        {% endfor %}
    </section>
    <section class="hourly-forecast">
        {% for data in HourlyForecast %}
        <div class="hour">
            <div class="box-wrapper">
                <div class="hour-temp">
                    <h3>Temperature</h3>
                    <h5>{{ data.temp }}</h5>
                    <h3>Real feel Temperature</h3>
                    <h5>{{ data.real_feel_temp }}</h5>
                </div>
                <div class="hour-other">
                    <h2>{{ data.date }}</h2>
                    <h3>Wind speed</h3>
                    <h5>{{ data.wind_speed }}</h5>
                    <h3>Rain probability</h3>
                    <h5>{{ data.rain_probabilty }}</h5>
                    <h3>Cloud cover</h3>
                    <h5>{{ data.cloud_cover }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</body>
</html>