<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/aef6646358.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="upper-section">
            <div class="zakopane-forecast">
                <div class="zakopane-forecast__today">
                
                    <div class="zakopane-forecast__today_city"><h6>Zakopane <br>{{FirstDay.date}}</h6></div>
                    <div class="zakopane-forecast__today_temp">
                        <div class="zakopane-forecast__today_temp_min"><i class="fas fa-temperature-high"></i> {{FirstDay.max_temp}}&#8451;</div>
                        <div class="zakopane-forecast__today_temp_max"><i class="fas fa-temperature-low"></i> {{FirstDay.min_temp}}&#8451;</div>
                       
                    </div>
                    <div class="zakopane-forecast__today_icon"><i class="fas fa-sun"></i></div>
                    <div class="zakopane-forecast__today_other">
                        <div class="zakopane-forecast__today_other_rain"><i class="fas fa-umbrella"></i> {{FirstDay.probability}} %</div>
                        <div class="zakopane-forecast__today_other_wind"><i class="fas fa-wind"></i>{{FirstDay.wind_speed}} km/h</div>
                    </div>
                 
                </div>
                <div class="zakopane-forecast__table">
                    <table>
                        <thead>
                            <th>date</th>
                            <th>min temp</th>
                            <th>max temp</th>
                            <th>windspeed</th>
                            <th>rain probability</th>
                        </thead>
                        <tbody>
                            {% for data in DailyForecast %}
                            <tr>
                                <td>{{data.date}}</td>
                                <td>{{data.min_temp}}&#8451;</td>
                                <td>{{data.max_temp}}&#8451;</td>
                                <td>{{data.wind_speed}} km/h</td>
                                <td>{{data.probability}} %</td>
                            </tr>
                            <tr>
                                <td colspan="5">{{data.phrase}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="lower-section">
            <div class="lower-section__left">
                <div class="mountain-forecast">
                    <h3>Detailed weather forecast for peaks in Tatras Mountain</h3>
                    {% for peak in Mountain %}
                        <div class="peak">
                            <div class="name_of_peak">
                                <h3><i class="fas fa-mountain"></i> {{peak.name_of_peak}} {{peak.elevation}}m.</h3>
                            </div>
                            <div class="button">
                                <input type="submit" value="DETAIL">
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="avalanche-status">
                    {% for data in Avalanche %}
                    <div class="avalanche-info">
                        <div class="avalanche-info__level">
                            <h4>Avalanche Warning Level: </h4>
                            <h4>{{ data.avalanche_level }}</h4>
                        </div>
                        <div class="avalanche-info__image">
                            <img src="{% static 'images/1_level.png' %}" alt="Avalanche-level">
                        </div>
                    </div>
                    <div class="avalanche-info__description">
                        <h4>{{ data.avalanche_description }}</h4>
                    </div>
                    <div class="warnings-time">
                        <h4>Warning published: <br>{{ data.avalanche_warning_published }}</h4>
                        <h4>Warning valid until:<br> {{ data.avalanche_warning_valid_until }}</h4>
                    </div>
                    {% endfor %}
                </div>

            <div class="tpn-forecast"></div>  
            </div>
            
        </div>
    </main>
</body>
</html>