{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="content-wrapper">
            <div class="place-weatherforecast-wrapper">
                <div class="place-weatherforecast">
                    <div class="place-weatherforecast-today">
                        <div class="place-weatherforecast-today-up">
                            <div class="place-weatherforecast-today-up__name">
                                <h3>Zakopane</h3>
                            </div>
                            <div class="place-weatherforecast-today-up__icon"><i class="fas fa-sun"></i></div>
                            <div class="place-weatherforecast-today-up__date">
                                <h3>{{ FirstDay.date|date:"d F" }}</h3>
                            </div>
                        </div>
                        <div class="place-weatherforecast-today-bottom">
                            <div class="place-weatherforecast-today-bottom__temp_min"><i class="fas fa-temperature-low"></i>{{ FirstDay.min_temp }}&#8451;</div>
                            <div class="place-weatherforecast-today-bottom__temp_max"><i class="fas fa-temperature-high"></i>{{ FirstDay.max_temp }}&#8451;</div>
                            <div class="place-weatherforecast-today-bottom__rain"><i class="fas fa-umbrella"></i> {{FirstDay.probability}} %</div>
                            <div class="place-weatherforecast-today-bottom__wind"><i class="fas fa-wind"></i>{{FirstDay.wind_speed}} km/h</div>
                        </div>
                    </div>
                    <!--
                    <div class="place-weatherforecast-hourly">
                        <h3>prognoza pogody dla Zakopane na najblizsze 12h</h3>
                        <div class="place-weatherforecast-hourly-table">
                            {% for data in HourlyForecast %}
                            <div class="place-weatherforecast-hourly-table-hour">
                                <div class="place-weatherforecast-hourly-table-hour-date">
                                    <h5>{{ data.date_time|date:"H : m" }}</h5>
                                </div>
                                <div class="place-weatherforecast-hourly-table-hour-temperatures">
                                    <div class="place-weatherforecast-hourly-table-hour-temperatures__temp">
                                        <h6><i class="fas fa-thermometer-three-quarters"></i>{{ data.temp }}&#8451;</h6>
                                    </div>
                                    <div class="place-weatherforecast-hourly-table-hour-temperatures__real-feel-temp">
                                        <h6><i class="fas fa-thermometer"></i> {{ data.real_feel_temp }}&#8451;</h6>
                                    </div>
                                </div>
                                <div class="place-weatherforecast-hourly-table-hour-others">
                                    <div class="place-weatherforecast-hourly-table-hour-others__wind">
                                        <h6><i class="fas fa-wind"></i>{{ data.wind_speed }} km/h</h6>
                                    </div>
                                    <div class="place-weatherforecast-hourly-table-hour-others__rain">
                                        <h6><i class="fas fa-umbrella"></i>{{ data.rain_probability }} %</h6>
                                    </div>
                                    <div class="place-weatherforecast-hourly-table-hour-others__cloud">
                                        <h6><i class="fas fa-cloud"></i>{{ data.cloud_cover }} %</h6>
                                    </div>
                                </div>
                                
                            </div>
                            {% endfor %}
                        </div>
                    </div>    
                    -->
                    
                </div>

            </div>
            <div class="glider-contain multiple">
                <h3>Glider</h3>
                <button class="glider-prev">
                    <i class="fa fa-chevron-left"></i>
                </button>
                    <div class="glider">
                        {% for post in Post%}
                        <figure>
                            <img src="{{post.image.url}}" alt="">
                        </figure>
                        {% endfor %}
                    </div>
                <button class="glider-next">
                    <i class="fa fa-chevron-right"></i>
                </button>
                
            </div>
            
            <!--
             <div class="posts-list">
                {% for post in Post %}
                    <div class="post-wrapper">
                        <div class="post-title">
                            <h3>{{ post.title }}</h3>
                        </div>
                        <div class="post-image">
                            <img src="{{post.image.url}}" alt="">
                        </div>
                        <div class="post-info">
                            <h6>Posted by: {{ post.user }} at {{post.date}}</h6>
                        </div>
                    </div>
                {% endfor %}
            </div>    
            -->
           
            <div class="avalanche-status">
                {% for data in Avalanche %}
                <div class="avalanche-info">
                    <div class="avalanche-info__level">
                        <h4>Avalanche Warning Level: </h4>
                        <h4>{{ data.avalanche_level }}</h4>
                    </div>
                    <div class="avalanche-info__image">
                        {% if data.avalanche_level == 1 %}
                        <img src="{% static 'images/law03.jpg' %}" alt="Avalanche-level 1">
                        {% elif data.avalanche_level == 2 %}
                        <img src="{% static 'images/2_level.png' %}" alt="Avalanche-level 2">
                        {% elif data.avalanche_level == 3 %}
                        <img src="{% static 'images/law03.jpg' %}" alt="Avalanche-level 3">
                        {% elif data.avalanache_level == 4 %}
                        <img src="{% static 'images/law04.jpg' %}" alt="Avalanche-level 4">
                        {% elif data.avalanache_level == 5 %}
                        <img src="{% static 'images/law05.jpg' %}" alt="Avalanche-level 1">
                        {% else %}
                        <h4>No information about avalanche level</h4>
                        {% endif %}
                    </div>
                </div>
                <div class="avalanche-info__description">
                    <h4>{{ data.avalanche_description }}</h4>
                </div>
                <div class="warnings-time">
                    <div class="warnings-time__published">
                        <h4>Warning published</h4> 
                        <h4>{{ data.avalanche_warning_published }}</h4>
                    </div>
                    <div class="warnings-time__until">
                        <h4>Warning valid until</h4> 
                        <h4>{{ data.avalanche_warning_valid_until }}</h4>
                        <h4>Dane pogladowe zweryfikuj na stronie Topr</h4>
                    </div>
                    
                    
                </div>
                {% endfor %}
            </div>
            <div class="peaks-weatherforecast">
                <table>
                {% for peak in Mountain%}
                    <div class="peak-weatherforecast">
                        <h3>{{ peak.name_of_peak }}</h3>
                    
                        <a href="#">Detail</a>
                    </div>
                {% endfor %}   
                </table>
                
            </div>
            <div class="tpn-weatherforecast">

            </div>
            
        </div>
        <script>
            new Glider(document.querySelector('.glider'),{
                slidesToShow: 2,
                slidesToScroll: 2,
                dragabble:true,
            }
            )
        </script>
    {% endblock %}