{% extends "base.html" %}
{% load static %}
{% block javascript%}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
{% endblock%}

{% block content %}

<div style="width: 90%; height: 100vh;" id="map"></div>
{{Image|json_script:"post"}}
<script>  

var map = L.map('map').setView([49.175573,20.072700], 11);
    
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);


var post_base = JSON.parse(JSON.parse(document.getElementById('post').textContent));

for (let index = 0; index < post_base.length; index++) {
    url = "http://127.0.0.1:8000/media/" + post_base[index]["fields"]["image"]
           
    let markerimg = new Image()
    markerimg.src = url
    marker = new L.marker([post_base[index]["fields"]["lat"], post_base[index]["fields"]["lon"]]).addTo(map)
    .bindPopup(markerimg);
    }
</script>
{% endblock %}