{% extends "base.html" %}
{% load static%}
{% block content %}

    <div class="content-wrapper">
        <div class="content-info">
            <h3>Detailed weather forecast for {{Peak.name_of_peak}}</h3>
        </div>
        <div class="content-table">
            <table class="peak-detailed-weatherforecast-table">
            <thead>
                <th>date</th>
                <th>temp</th>
                <th>real feel temp</th>
                <th>wind</th>
                <th>rain</th>
                <th>snow</th>
                <th>summary</th>
            </thead>
            <tbody>
                {% for x in Peak %}
                <tr>
                    <td>{{ x.date|date:"d M H:i" }}</td>
                    <td>{{ x.temperature }}&#8451;</td>
                    <td>{{ x.chill_temperature }}&#8451;</td>
                    <td>{{ x.windspeed }}km/h</td>
                    <td>{{ x.rain }}mm</td>
                    <td>{{ x.snow }}mm</td>
                    <td>{{ x.summary }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}potter pris 