<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/aef6646358.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <link rel="shortcut icon" href="{% static 'images/tatra_favicon.png' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Register</title>
</head>
<body>
    <main class="register-login-main">
        <nav class="register-login-nav">
            <div class="register-login-nav_logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/Tatra_logo.png' %}" alt="Logo gory">
                </a>
            </div>
            <div class="register-login-nav_info">
                <h3>weather forecast for Tatras for the next few days</h3>
            </div>
        </nav> 
        <div class="registration-form-wrapper" >
            <div class="registration-picture">
                <img src="{% static 'images/picture_reg_form.jpg' %}" alt="Picture for registration form">
            </div>
            {% block content %}
            {% endblock %}  
        </div>
    </main>
</body>
</html>