{% extends "register_base.html" %}
{% load static %}
{% block content %}
    <div class="login-form">
       <h3>Log in</h3>

        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
            <p>{{ field.label_tag  }}</p>
            <p>{{ field }}</p>
            {% endfor %}
            {% if form.errors %}
                {% for error in form.errors %}
                    <li><strong>{{ error }}</strong></li>
                {% endfor %}
            {% endif %}
            <input class="register-button" type="submit" value="Log In">
        </form> 
        <small>Don't have an account? Please <a href="{% url 'register' %}">Sign Up</a></small>
    </div>

{% endblock %}