body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #16516d;
    padding: 0;
    background-color: #f7faf9;
    
}
main{
    display: flex;
    flex-direction: column;
} 
.upper-section{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.zakopane-forecast{
    width: 50%;
    border: 1px solid gray;
}
.zakopane-forecast__today{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #224f83;
    color: #d0d9e5
}
.zakopane-forecast__today_city h6{
    font-size: 2rem;
    margin: 0;
}
.zakopane-forecast__today_temp{
    display: flex;
    flex-direction: column;
}
.zakopane-forecast__today_temp_min{
    font-size: 2rem;
}
.zakopane-forecast__today_icon{
    color: #febc09;
    font-size: 3rem;
}
.zakopane-forecast__today_other{
    display: flex;
    flex-direction: column;
}
.zakopane-forecast__table{
    width: 100%;
}
table{
    table-layout: fixed;
    width: 100%;
}
 th {
    width: 20%;
    text-transform: uppercase;
}
tr{
    text-align: center;
}
tr:nth-child(odd) td{
    border-top: 1px solid grey;
    padding: 0.7rem;
}
.mountain-forecast{
    width: 50%;
}