body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #16516d;
    background-color: #f7faf9;
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-bottom: 2rem;
}
.main-nav_info{
    width: 78%;
    text-align: center;
}
.main-nav_info h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.3rem;
}
.main-nav_user{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;
}
.main-nav_user a{
    background-color: greenyellow;
    border-radius: 10px;
    padding: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
}
main{
    display: flex;
    justify-content: center;
}
.message-info{
    width: 100%;
    height: 3rem;
    border: 1px solid green;
    background-color: green;
    opacity: 0.6;
}
.content-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*----------------- Current Daily Weather ----------------------*/
.place-weatherforecast-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid #16516d;
}
.place-weatherforecast{
    width: 90%;
    display: flex;
    flex-direction: column;
    transform: translateY(-1.875rem);
    background-color: #f7faf9;
    
}
.place-weatherforecast-today{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.place-weatherforecast-today-up{
    display: flex;
    justify-content: center;
}
.place-weatherforecast-today-up__name{
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1.25rem 3rem;
    letter-spacing: 0.3rem;
    
}
.place-weatherforecast-today-up__icon{
    font-size: 3rem;
    padding: 1.25rem 3rem;
    color: #febc09;
}
.place-weatherforecast-today-up__date{
    font-size: 2rem;
    padding: 1.25rem 3rem;
    letter-spacing: 0.3rem;
    
}
.place-weatherforecast-today-up__name h3,
.place-weatherforecast-today-up__date h3{
    margin: 0;
}
.place-weatherforecast-today-bottom{
    display: flex;
    justify-content: center;
}
.place-weatherforecast-today-bottom__temp_min,
.place-weatherforecast-today-bottom__temp_max,
.place-weatherforecast-today-bottom__rain,
.place-weatherforecast-today-bottom__wind{
    padding: 1.25rem 3rem;
    font-size: 2rem;
}
/*-----------Hourly Weather Forecast------------*/

.place-weatherforecast-hourly{
    width: 100%;
}
.place-weatherforecast-hourly h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 300;
}
.place-weatherforecast-hourly-table{
    display: flex;
    flex-wrap: wrap;
   
}
.place-weatherforecast-hourly-table-hour{
    width: 16%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
}
.place-weatherforecast-hourly-table-hour-date h5{
    margin: 0;
    padding: 0;
}
.place-weatherforecast-hourly-table-hour-temperatures{
    display: flex;
    justify-content: center;
}
.place-weatherforecast-hourly-table-hour-temperatures__temp h6,
.place-weatherforecast-hourly-table-hour-temperatures__real-feel-temp h6{
    margin: 0;
    padding: 0.1rem;
}
.place-weatherforecast-hourly-table-hour-others{
    display: flex;
    justify-content: center;
}
.place-weatherforecast-hourly-table-hour-others__wind h6,
.place-weatherforecast-hourly-table-hour-others__rain h6,
.place-weatherforecast-hourly-table-hour-others__cloud h6{
    margin: 0;
    padding: 0.2rem;
}
/*-------------Posts list-----------------------*/
.posts-list{
    display: flex;
}
.post-wrapper{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 0.5rem;
}
.post-title h3{
    text-transform: uppercase;
    text-align: center;
}
.post-image{
    width: 100%;
}
.post-image img{
    max-width: 100%;
    max-height: 100%;
}
.post-info{
    text-align: center;
}

/*-----------Avalanche Warnings-----------------*/
.avalanche-status {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}
.avalanche-info{
    display: flex;
    justify-content: space-evenly;
}
.avalanche-info__level{
    font-size: 1.125rem;
    letter-spacing: 0.3rem;
    text-align: center;
    text-transform: uppercase;
}
.avalanche-info__description h4{
    font-weight: 300;
    letter-spacing: 0.2rem;
}

.warnings-time{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.warnings-time__published h4,
.warnings-time__until h4{
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
/*------------peaks weatherforecast -----------*/
.peak-weatherforecast{
    display: flex;
    justify-content: space-evenly;
}

/*-------------------registration-form---------*/
.registration-form-wrapper{
    display: flex;
    width: 70%;
    justify-self: center;
    background-color: #d3d3d3;
    border-radius: 15px;
    box-shadow: 5px 5px 0.5;
}
.registration-picture{
    width: 50%;
}
.registration-picture img{
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: auto;
}
.registration-form{
    padding-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 50%;
}
.registration-form form{
    justify-content: center;
}
.registration-form #id_username,
.registration-form #id_email,
.registration-form #id_password1,
.registration-form #id_password2{
    border: none;
    border-bottom: 1px black solid;
    background-color: #d3d3d3;
}
.registration-form p label{
    text-transform: capitalize;
}
.registration-form .button{
    border-radius: 5px;
    border-style: none;
    width: 12rem;
    font-size: 1.25rem;
    text-transform: uppercase;
}
.registration-form small {
    padding-top: 1rem;
}
/*------------------Login Page-----------------*/

.login{
    display: flex;
    width: 70%;
}
.login-picture{
    width: 50%;
}
.login-picture img{
    width: 100%;
}
.login-form{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}
.login-form form{
    display: flex;
    flex-direction: column;
}
.login-form form input,
.login-form form label{
    margin: 1rem;
}
.login-form form #id_username,
.login-form form #id_password{
    border: none;
    border-bottom: 1px solid black;
    background-color: #f7faf9;
    padding: 0.5rem;
}
/*-------------------profile page-------------------*/
.profile-container{
    display: flex;
    flex-direction: column;
}
.user-info{
    display: flex;
    justify-content: space-evenly;
}
.user-info_picture{
    width: 5vw;
}
.user-info_picture img{
    width: 100%;
}
.user-info_information{
    display: flex;
    align-items: center;
}
.user-info_information p{
    padding: 1rem;
}
.user-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.user-content-img-wrapper{
    width: 25%;
    margin: 0.5rem;
}
.user-content-img-wrapper h3{
    text-transform: uppercase;
    font-size: 1.15rem;
    text-align: center;
}
.user-content-img-wrapper img{
    width: 100%;
}
.user-info_add-img{
    display: flex;
    align-items: center;
}
.user-info_add-img button{
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 5rem;
    background-color: greenyellow;
    text-transform: uppercase;
}
.user-info_add-img a{
    text-decoration: none;
}

/*-------------------footer--------------------*/
footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    
}
