body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #555;
    /*background-color: #f7faf9;*/
    background-color: #F1F1F1;
}
@media screen and (min-width: 1120px){
   nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 6rem;
} 


table{
    border-collapse: collapse;
}
tr:nth-of-type(even){
    border-bottom: 1px grey solid;
    background-color: #f6f6f6;
}
tr:nth-of-type(odd){
    background-color:#ececec;
}


.logo {
    width: 70px;
    height: 70px;
}
.logo img{
    width: 100%;
}
.main-nav_info{
    text-align: center;
}
.main-nav_info h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.3rem;
}
.main-nav_user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-nav_user a{
    background-color:#16516d;
    border-radius: 10px;
    padding: 1rem;
    text-transform: uppercase;
    color: #f7faf9;
    text-decoration: none;
}
#register{
    margin-right: 0.5rem;
}
main{
    display: flex;
    justify-content: center;
}
.message-info{
    width: 100%;
    height: 3rem;
    border: 1px solid green;
    background-color: green;
    opacity: 0.6;
}
.content-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*----------------- Current Daily Weather ----------------------*/
.place-weatherforecast-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid #16516d;
}
.place-weatherforecast{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-2rem);
    background-color: #f7faf9;
    
}
.place-weatherforecast-today{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.place-weatherforecast-today-up{
    display: flex;
    justify-content: center;
}
.place-weatherforecast-today-up__name{
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1.25rem 3rem;
    letter-spacing: 0.3rem;
    
}
.place-weatherforecast-today-up__icon{
    font-size: 3rem;
    padding: 1.25rem 3rem;
    color: #febc09;
}
.place-weatherforecast-today-up__date{
    font-size: 2rem;
    padding: 1.25rem 3rem;
    letter-spacing: 0.3rem;
    
}
.place-weatherforecast-today-up__name h3,
.place-weatherforecast-today-up__date h3{
    margin: 0;
}
.place-weatherforecast-today-bottom{
    display: flex;
    justify-content: center;
}
.place-weatherforecast-today-bottom__temp_min,
.place-weatherforecast-today-bottom__temp_max,
.place-weatherforecast-today-bottom__rain,
.place-weatherforecast-today-bottom__wind{
    padding: 1.25rem 3rem;
    font-size: 2rem;
}
.place-weatherforecast-today-button button{
    padding: 1rem;
    transform: translateY(4rem);
    margin: 0 2rem;
    border: none;
    width: 25rem;
    border-radius: 25px;
    background-color: #16516d;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}
/*-------------Posts list-----------------------*/
.glider-contain{
    margin-top: 5rem;
    text-align: center;
}
.glider-contain h3{
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 600;
}

/*-----------Avalanche Warnings-----------------*/
.avalanche-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.avalanche-title h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.3rem;
}
.avalanche-status {
    display: flex;
}
.avalanche-info_left{
    display: flex;
    justify-content: space-evenly;
}
.avalanche-info__level{
    font-size: 1.125rem;
    letter-spacing: 0.3rem;
    text-align: center;
    text-transform: uppercase;
}
.avalanche-info_center{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}
.avalanche-info__description h4{
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-align: center;
}

.warnings-time{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    padding: 0; 
}
.warnings-time__published h4,
.warnings-time__until h4{
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0.2rem;
}
.avalanche-info_right{
    text-align: center;
}
.avalanche-info_right h4{
    text-transform: uppercase;
}
.avalanche-info_right button{
    padding: 1rem;
    border: none;
    border-radius: 25px;
    background-color: #16516d;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}
/*------------ content-bottom-tables -----------*/

.content-bottom-tables{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.content-bottom-tables_info{
    margin-bottom: 2rem;
}
.content-bottom-tables_info h3{
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}
.content-bottom-tables_tables{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.peaks-weatherforecast{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.peaks-weatherforecast-info{
    margin: 2rem 0rem;
}
.peaks-weatherforecast h3{
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}
.tpn-weatherforecast{
    display: flex;
    justify-content: center;
}
.table-button{
    padding: 0.4rem;
    border: 1px solid grey;
    border-radius: 25px;
    background-color:#f7faf9 ;
    color: #16516d;
    font-size: 0.75rem;
    text-transform: uppercase;
    cursor: pointer;
}
.tpn-weatherforecast  td,
.peaks-weatherforecast td{
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1.5rem;   
}
.tpn-weatherforecast th,
.peaks-weatherforecast th{
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

/*-------------------registration-form---------*/
.register-login-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-login-nav{  
    width: 100%;  
}
.register-login-nav_logo {
    width: 100px;
    height: 100px;
}
.register-login-nav_logo img{
    width: 100%;
}
.register-login-nav_info{
    text-align: center;
}
.register-login-nav_info h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.3rem;
}
.registration-form-wrapper{
    display: flex;
    width: 70%;
    justify-self: center;
    border-radius: 15px;
    box-shadow: 20px 20px 40px grey;
}
.registration-picture{
    width: 50%;
    margin: 0;
    padding: 0;
}
.registration-picture img{
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: auto;
    margin: 0;
    padding: 0;
}
.registration-form,
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.registration-form h3,
.login-form h3{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 0.5rem;
    margin: 0;
}
.login-form h3{
    margin-top: 1rem;
}
.registration-form form,
.login-form form{
    justify-content: center;
}
#id_username,
#id_email,
#id_password1,
#id_password2,
#id_password{
    border: none;
    border-bottom: 1px black solid;
    background-color: #f7faf9;
    font-size: 0.8rem;
    width: 20rem;
    margin-bottom: 1rem;
}
.registration-form p label,
.login-form p label{
    text-transform: uppercase;
    font-size: 1rem;
}
.register-button{
    border-radius: 15px;
    border-style: none;
    width: 20rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #f7faf9;
    background-color: #16516d;
}
.registration-form small,
.login-form small {
    padding-top: 1rem;
}
/*------------------Login Page-----------------*/



/*-------------------profile page-------------------*/
.profile-container{
    display: flex;
    flex-direction: column;
}
.user-info{
    display: flex;
    justify-content: space-evenly;
}
.user-info_picture{
    width: 5vw;
}
.user-info_picture img{
    width: 100%;
}
.user-info_information{
    display: flex;
    align-items: center;
}
.user-info_information p{
    padding: 0 3rem;
}
.user-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.user-content-img-wrapper{
    width: 25%;
    margin: 0.5rem;
}
.user-content-img-wrapper h3{
    text-transform: uppercase;
    font-size: 1.15rem;
    text-align: center;
}
.user-content-img-wrapper img{
    width: 100%;
}
.user-info_add-img{
    display: flex;
    align-items: center;
}
.user-info_add-img button{
    padding: 1.5rem;
    border: none;
    border-radius: 25px;
    background-color: #16516d;
    color: white;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
}
.user-info_add-img a{
    text-decoration: none;
}

/*-------------------footer--------------------*/
footer{
    text-align: center;
}
/*-------------------peak-detail---------------*/
.peak-detailed-weatherforecast-table td,th{
text-align: center;

}
/*-------------------area-base-----------------*/
.area-detail-forecast-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-detail-forecast-content-info h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.area-detail-forecast-content-bottom{
    display: flex;
    width: 90%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 5px 5px 30px grey;
}
.area-detail-forecast-content-bottom-image{
    width: 40%;
}
.area-detail-forecast-content-bottom-image img{
    width: 100%;
    padding-left: 1rem;
}
.area-detail-forecast-content-bottom-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding-left: 2rem;
}
.area-detail-forecast-content-bottom-table th{
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: center;
}
.area-detail-forecast-content-bottom-table th,td{
    padding: 1rem 0.75rem;
    font-size: 1rem;
    text-align: center;
}
.area-detail-forecast-content-bottom-links-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
}
.area-detail-forecast-content-bottom-links-header h3{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin: 0rem 1rem;
}
.area-detail-forecast-content-bottom-links button{
    padding: 0.2rem 1rem;
    margin: 0rem 1rem;
    border:none;
    border-radius: 15px;
    background-color: #f7faf9;
    color: #16516d;
    font-size: 1.25rem;
    cursor: pointer;
}
.fa-poo-storm,
.fa-cloud-sun,
.fa-cloud,
.fa-sun{
    font-size: 3rem;
}
.area-table-date{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
}
.td-summary{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 900;
}
/*------------------current-day---------------------*/
.current-content-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
}
/*-----------Hourly Weather Forecast------------*/

.place-weatherforecast-hourly,
.daily-weather-table-wrapper{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 80%;
    margin-top: 3rem;
}
.place-weatherforecast-hourly h3,
.current-content-future-forecast h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.place-weatherforecast-hourly-table{
    display: flex;
    justify-content: center;
}
.hourly-weather-table th,
.daily-weather-table th{
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 2rem;
}
.hourly-weather-table th, td,
.daily-weather-table th,td{
    font-size: 1.75rem;
    padding: 0.75rem
}
.current-content-future-forecast{
    margin-top: 2rem;
}

/*---------------------Map----------------*/

.leaflet-popup-content-wrapper{
    width: 450px;
    width: 450px;
}
.leaflet-popup-content-wrapper img{
    width: 100%;
}
}
/* @media screen and (max-width: 320px){*/
    main{
        display: flex;
        flex-direction: column;
    }
    footer{
        margin: 5rem 0rem 0rem 1rem;
    }
    footer small{
        text-transform: uppercase;
    }


/*--------------navigation--------------*/
    nav {
        display: flex;
        flex-direction: column;
    }
    .main-nav_user{
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;

    }
    .main-nav_user a{
        padding: 0.5rem 0rem;
        color: #333;
        border-radius: 15px;
        width: 60%;
        text-decoration: none;
        border: 1px solid #4E6969;
        background-color: #BFC2C5;
        opacity: 0.7;
        text-align: center;
        margin: 0.5rem;
    }
    .main-nav_user #logout{
        text-align: center;
    }
    .main-nav_user a:hover{
        color: #BFC2C5;
        background-color: #4E6969;
    }
    .logo{
        text-align: center;
        order: 2;
    }
    .logo img{
        margin: 0.5rem;
        width: 50%;
    }
    .main-nav_info{
        order: 3;
        text-align: center;
    }
    .main-nav_info h3{
        padding: 2rem 2rem;
        margin: 0;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        font-weight: 500;
    }
/*-----------index-daily-weather-------------*/
.place-weatherforecast-wrapper{
    margin: 1rem;
}

.place-weatherforecast{
    margin: 0.5rem;
}
.place-weatherforecast-today{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.place-weatherforecast-today-up{
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 1.5rem 0rem;
}
.place-weatherforecast-today-up__icon{
    display: flex;
    align-items: center;
    color:#febc09;
    font-size: 3rem;
}
.place-weatherforecast-today-bottom{
    display: flex;
    justify-content: space-around;
    font-size: 1.25rem;
    text-align: center;
    padding: 1rem 0rem;
}
.place-weatherforecast-today-bottom__temp_min,
.place-weatherforecast-today-bottom__temp_max,
.place-weatherforecast-today-bottom__rain,
.place-weatherforecast-today-bottom__wind{
    margin: 0rem 1rem;
}
.fa-temperature-low,
.fa-umbrella{
    color: #276DC2;
}
.fa-wind{
    color: #22E3ED;
}

.fa-temperature-high,
.fa-thermometer-three-quarters{
    color: #EF3029;
}
.place-weatherforecast-today-button{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.place-weatherforecast-today-button button{
        padding: 0.5rem 0rem;
        color: #333;
        border-radius: 15px;
        width: 10rem;
        text-decoration: none;
        border: 1px solid #4E6969;
        background-color: #BFC2C5;
        opacity: 0.7;
        text-align: center;
        margin: 0.5rem;
        margin-bottom: 2rem;
    }
.place-weatherforecast-today-button button:hover{
        color: #BFC2C5;
        background-color: #4E6969;
    
}

/*--------------index - image glider----------------*/

.glider-contain{
    margin: 1rem;
}
.glider-contain h3,
.avalanche-title h3,
.avalanche-info__level h4{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    text-align: center;
}
/*-------------index - avalanche status-------------*/
.avalanche-wrapper{
    margin: 1rem;
}
.avalanche-title h3{
    font-weight: 700;
}
.avalanche-info__level h4{
    font-size: 1rem;
}
.avalanche-info__description{
    padding: 1rem 0rem;
}
.avalanche-info__description h4{
    margin: 0;
    padding: 0rem 1rem;
    font-size: 1rem;
    font-weight: 500;
}
.warnings-time{
    display: flex;
    justify-content: space-around;
}
.warnings-time__published h4,
.warnings-time__until h4{
    font-size: 0.5rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
}
.avalanche-info_right{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color:  #EF3029;

}
.avalanche-info_right button{
    padding: 0.5rem 0rem;
    color: #333;
    border-radius: 15px;
    width: 10rem;
    text-decoration: none;
    border: 1px solid #4E6969;
    background-color: #BFC2C5;
    opacity: 0.7;
    text-align: center;
    margin: 0.5rem;
    margin-bottom: 2rem;
}
.avalanche-info_right button:hover{
    color: #BFC2C5;
    background-color: #4E6969;

}
/*-----------index - tables bottom ---------*/
.content-bottom-tables{
    margin: 1rem;
}
.content-bottom-tables_info h3,
.peaks-weatherforecast-info h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    text-align: center;
}
.tpn-weatherforecast table th,td
.peak-weatherforecast table th,td{
    font-size: 0.8rem;
    text-align: center;
}
.tpn-weatherforecast table th,
.peak-weatherforecast table th{
    text-transform: uppercase;
}
.tpn-weatherforecast button,
.peak-weatherforecast button{
    color: #333;
    border-radius: 15px;
    width: 4rem;
    text-decoration: none;
    border: 1px solid #4E6969;
    background-color: #BFC2C5;
    opacity: 0.7;
    text-align: center;
}
.peak-weatherforecast button:hover,
.tpn-weatherforecast button:hover{
    color: #BFC2C5;
    background-color: #4E6969;
}
/*--------------register base --------------*/
.register-login-main{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.register-login-nav{
    display: flex;
    flex-direction: column;
}
.register-login-nav_logo{
    text-align: center;
}
.register-login-nav_logo img{
    width: 50%;
}
.register-login-nav_info h3{
    padding: 2rem 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    text-align: center;
}

.registration-picture{
    width: 100%;
}
.registration-picture img{
    width: 100%;
} 

/*--------register and login page--------------*/

.registration-form,
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registration-form h3,
.login-form h3{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 0.5rem;
    margin: 0;
}
.login-form h3{
    margin-top: 1rem;
}
.registration-form form,
.login-form form{
    justify-content: center;
}
#id_username,
#id_email,
#id_password1,
#id_password2,
#id_password{
    border: none;
    border-bottom: 1px solid #4E6969;
    background-color: #F1F1F1;
    font-size: 0.8rem;
    width: 10rem;
    margin-bottom: 1rem;
}
.registration-form p label,
.login-form p label{
    text-transform: uppercase;
    font-size: 1rem;
}
.register-button{
    color: #333;
    border-radius: 15px;
    width: 10rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #4E6969;
    background-color: #BFC2C5;
    opacity: 0.7;
    text-align: center;

}
.register-button:hover{
    color: #BFC2C5;
    background-color: #4E6969;
}
.registration-form small,
.login-form small {
    padding-top: 1rem;
    margin-bottom: 3rem;
}
/*--------------------profile page---------------------*/
.user-info_information{
    margin-top: 3rem;
    padding-left: 2rem;
}
.user-info_picture{
    width: 25%;
}
.user-info_picture img{
    width: 90%;
}
.user-content-img-wrapper{
    width: 90%;
    padding: 1rem;
}
.user-content-img-wrapper img{
    width: 100%;
}
.user-info_add-img{
    padding-left: 2rem;
}
.user-info_add-img button{

    color: #333;
    border-radius: 15px;
    width: 10rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #4E6969;
    background-color: #BFC2C5;
    opacity: 0.7;
    text-align: center;    
    
    }
.user-info_add-img button:hover{
    color: #BFC2C5;
    background-color: #4E6969;
}
/*---------------current-day detail--------------*/
.place-weatherforecast-hourly,
.daily-weather-table{
    margin: 2rem;
}

.place-weatherforecast-hourly h3,
.current-content-future-forecast-header h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    text-align: center;
}
.place-weatherforecast-hourly-table table th, td,
.daily-weather-table table th, td{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem 0rem;
}

.place-weatherforecast-hourly-table table th,
.daily-weather-table th{
    text-transform: uppercase;
}
/*-----------------area base --------------------*/
.area-detail-forecast-content{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.area-detail-forecast-content-bottom{
    display: flex;
    flex-direction: column;
}
.area-detail-forecast-content-bottom-image{
    width: 100%;
}
.area-detail-forecast-content-bottom-image img{
    width: 100%;
}
.area-detail-forecast-content-info h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    text-align: center;
}
.area-detail-forecast-content-bottom-table{
    margin: 0.5rem;
}

.area-detail-forecast-content-bottom-table th{
    text-transform: uppercase;
}
.area-detail-forecast-content-bottom-links-header h3{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
}
.area-detail-forecast-content-bottom-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
}
.area-detail-forecast-content-bottom-links button{
    color: #333;
    border-radius: 15px;
    width: 12rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #4E6969;
    background-color: #BFC2C5;
    opacity: 0.7;
    margin: 0.5rem;
    text-align: center;  
}
.area-detail-forecast-content-bottom-links button:hover{
    color: #BFC2C5;
    background-color: #4E6969;
}
/*--------------mountain-weather----------------*/
.content-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.content-table{
    margin: 1rem;
}
.content-info h3{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
}
.peak-detailed-weatherforecast-table th{
    text-transform: uppercase;
}
/*----------------Add photo ---------------------*/
.add-photo-form{
    margin: 5rem 0rem 0rem 2rem;
}

#id_title{
    border: none;
    border-bottom: 1px solid #4E6969;
    background-color: #F1F1F1;
    font-size: 0.8rem;
    width: 10rem;
    margin-bottom: 1rem;
}
.add-photo-form p label{
    text-transform: uppercase;
    font-size: 1rem;
}
#id_image{
    background-color: #BFC2C5;
    opacity: 0.7;
}
/*---------------Post detail-------------------------*/
.post-detail{
    margin: 2rem;
}
.post-detail_image{
    width: 100%;
}
.post-detail_image img{
    width: 100%;
}
.post-detail button{
    color: #333;
    border-radius: 15px;
    width: 12rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #4E6969;
    background-color: #BFC2C5;
    opacity: 0.7;
    margin: 0.5rem;
    text-align: center;  
}
.post-detail button:hover{
    color: #BFC2C5;
    background-color: #4E6969;
}

@media screen and (min-width:360px){

.content-wrapper{
    margin-top: 0;
}
/*------------------register and login page---------------*/

.registration-form h3,
.login-form h3{
    font-size: 2rem;
    margin-top: 2rem;
}

#id_username,
#id_email,
#id_password1,
#id_password2,
#id_password{
    width: 15rem;
}

.registration-form p label,
.login-form p label{
    font-size: 1.5rem;
}
.register-button{
    width: 15rem;
    padding: 0.6rem;
}
/*---------------------user profile----------------------------*/
.user-info_add-img button {
    padding: 0.5rem;
}
/*---------------------------post detial-----------------------*/
.post-detail button {
    padding: 0.5rem;
}

/*--------------------------detail weather---------------------*/
.area-detail-forecast-content-bottom-table th, td{
    font-size: 0.85rem;
}
}
@media screen and (min-width:568px) {

    .place-weatherforecast-today-bottom,
    .place-weatherforecast-today-up {
        font-size: 2rem;
    }  
/*------------------register and login page---------------*/
    .tpn-weatherforecast th,td{
        font-size: 1.25rem;
    }
    .place-weatherforecast-hourly-table th,td{
        font-size: 1.5rem;
    }
}